name: Build docker images

on:
  workflow_run:
    workflows: ["Repo Sync"]
    types:
      - completed
  workflow_dispatch:

jobs:
  build-amd64:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        container: [
          {name: 'aio-apache', context: './Containers/apache'},
          {name: 'aio-borgbackup', context: './Containers/borgbackup'},
          {name: 'aio-collabora', context: './Containers/collabora'},
          {name: 'aio-domaincheck', context: './Containers/domaincheck'},
          {name: 'all-in-one', context: './Containers/mastercontainer'},
          {name: 'aio-nextcloud', context: './Containers/nextcloud'},
          {name: 'aio-notify-push', context: './Containers/notify-push'},
          {name: 'aio-postgresql', context: './Containers/postgresql'},
          {name: 'aio-redis', context: './Containers/redis'},
          {name: 'aio-talk', context: './Containers/talk'},
          {name: 'aio-watchtower', context: './Containers/watchtower'},
          {name: 'aio-clamav', context: './Containers/clamav'},
          {name: 'aio-onlyoffice', context: './Containers/onlyoffice'},
          {name: 'aio-imaginary', context: './Containers/imaginary'},
          {name: 'aio-talk-recording', context: './Containers/talk-recording'},
          {name: 'aio-fulltextsearch', context: './Containers/fulltextsearch'},
          {name: 'aio-docker-socket-proxy', context: './Containers/docker-socket-proxy'},
          {name: 'aio-whiteboard', context: './Containers/whiteboard'}
        ]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
#      - name: Login to DockerHub
#        uses: docker/login-action@v2 
#        with:
#          username: ${{ secrets.DOCKERHUB_USERNAME }}
#          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build docker image and push to dockerhub
        uses: docker/build-push-action@v4
        with:
          context: ${{ matrix.container.context }}
          platforms: linux/amd64
          no-cache: true
#          push: true
          tags: nextcloud/${{ matrix.container.name }}:develop
          
  build-arm64:
    runs-on: ubuntu-24.04-arm
    strategy:
      fail-fast: false
      matrix:
        container: [
          {name: 'aio-apache', context: './Containers/apache'},
          {name: 'aio-borgbackup', context: './Containers/borgbackup'},
          {name: 'aio-collabora', context: './Containers/collabora'},
          {name: 'aio-domaincheck', context: './Containers/domaincheck'},
          {name: 'all-in-one', context: './Containers/mastercontainer'},
          {name: 'aio-nextcloud', context: './Containers/nextcloud'},
          {name: 'aio-notify-push', context: './Containers/notify-push'},
          {name: 'aio-postgresql', context: './Containers/postgresql'},
          {name: 'aio-redis', context: './Containers/redis'},
          {name: 'aio-talk', context: './Containers/talk'},
          {name: 'aio-watchtower', context: './Containers/watchtower'},
          {name: 'aio-onlyoffice', context: './Containers/onlyoffice'},
          {name: 'aio-imaginary', context: './Containers/imaginary'},
          {name: 'aio-talk-recording', context: './Containers/talk-recording'},
          {name: 'aio-fulltextsearch', context: './Containers/fulltextsearch'},
          {name: 'aio-docker-socket-proxy', context: './Containers/docker-socket-proxy'},
          {name: 'aio-whiteboard', context: './Containers/whiteboard'}
        ]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
#      - name: Login to DockerHub
#        uses: docker/login-action@v2 
#        with:
#          username: ${{ secrets.DOCKERHUB_USERNAME }}
#          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build docker image and push to dockerhub
        uses: docker/build-push-action@v4
        with:
          context: ${{ matrix.container.context }}
          platforms: linux/arm64
          no-cache: true
#          push: true
          tags: nextcloud/${{ matrix.container.name }}:develop-arm64
