name: Build docker images

on:
  workflow_run:
    workflows: ["Repo Sync"]
    types:
      - completed
  workflow_dispatch:

jobs:
  build-amd64:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        container: [
          # This whole block needs to stay in sync with the block with arm64 runners further below
          {name: 'aio-alpine', context: './Containers/alpine', file: './Containers/alpine/Dockerfile'},
          {name: 'aio-apache', context: './Containers/apache', file: './Containers/apache/Dockerfile'},
          {name: 'aio-borgbackup', context: './Containers/borgbackup', file: './Containers/borgbackup/Dockerfile'},
          {name: 'aio-collabora', context: './Containers/collabora', file: './Containers/collabora/Dockerfile'},
          {name: 'aio-collabora-online', context: './Containers/collabora-online', file: './Containers/collabora-online/Dockerfile'},
          {name: 'aio-domaincheck', context: './Containers/domaincheck', file: './Containers/domaincheck/Dockerfile'},
          {name: 'all-in-one', context: '.', file: './Containers/mastercontainer/Dockerfile'},
          {name: 'aio-nextcloud', context: '.', file: './Containers/nextcloud/Dockerfile'},
          {name: 'aio-notify-push', context: './Containers/notify-push', file: './Containers/notify-push/Dockerfile'},
          {name: 'aio-postgresql', context: './Containers/postgresql', file: './Containers/postgresql/Dockerfile'},
          {name: 'aio-redis', context: './Containers/redis', file: './Containers/redis/Dockerfile'},
          {name: 'aio-talk', context: './Containers/talk', file: './Containers/talk/Dockerfile'},
          {name: 'aio-watchtower', context: './Containers/watchtower', file: './Containers/watchtower/Dockerfile'},
          {name: 'aio-clamav', context: './Containers/clamav', file: './Containers/clamav/Dockerfile'},
          {name: 'aio-onlyoffice', context: './Containers/onlyoffice', file: './Containers/onlyoffice/Dockerfile'},
          {name: 'aio-imaginary', context: './Containers/imaginary', file: './Containers/imaginary/Dockerfile'},
          {name: 'aio-talk-recording', context: './Containers/talk-recording', file: './Containers/talk-recording/Dockerfile'},
          {name: 'aio-fulltextsearch', context: './Containers/fulltextsearch', file: './Containers/fulltextsearch/Dockerfile'},
          {name: 'aio-docker-socket-proxy', context: './Containers/docker-socket-proxy', file: './Containers/docker-socket-proxy/Dockerfile'},
          {name: 'aio-whiteboard', context: './Containers/whiteboard', file: './Containers/whiteboard/Dockerfile'}
        ]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6
      - name: Login to ghcr.io
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build docker image and push to ghcr.io
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
        with:
          context: ${{ matrix.container.context }}
          file: ${{ matrix.container.file }}
          platforms: linux/amd64
          no-cache: true
          push: true
          tags: ghcr.io/nextcloud-releases/${{ matrix.container.name }}:develop

  build-arm64:
    runs-on: ubuntu-24.04-arm
    strategy:
      fail-fast: false
      matrix:
        container: [
          # This whole block needs to stay in sync with the block with amd64 runners further up
          {name: 'aio-alpine', context: './Containers/alpine', file: './Containers/alpine/Dockerfile'},
          {name: 'aio-apache', context: './Containers/apache', file: './Containers/apache/Dockerfile'},
          {name: 'aio-borgbackup', context: './Containers/borgbackup', file: './Containers/borgbackup/Dockerfile'},
          {name: 'aio-collabora', context: './Containers/collabora', file: './Containers/collabora/Dockerfile'},
          {name: 'aio-collabora-online', context: './Containers/collabora-online', file: './Containers/collabora-online/Dockerfile'},
          {name: 'aio-domaincheck', context: './Containers/domaincheck', file: './Containers/domaincheck/Dockerfile'},
          {name: 'all-in-one', context: '.', file: './Containers/mastercontainer/Dockerfile'},
          {name: 'aio-nextcloud', context: '.', file: './Containers/nextcloud/Dockerfile'},
          {name: 'aio-notify-push', context: './Containers/notify-push', file: './Containers/notify-push/Dockerfile'},
          {name: 'aio-postgresql', context: './Containers/postgresql', file: './Containers/postgresql/Dockerfile'},
          {name: 'aio-redis', context: './Containers/redis', file: './Containers/redis/Dockerfile'},
          {name: 'aio-talk', context: './Containers/talk', file: './Containers/talk/Dockerfile'},
          {name: 'aio-watchtower', context: './Containers/watchtower', file: './Containers/watchtower/Dockerfile'},
          {name: 'aio-clamav', context: './Containers/clamav', file: './Containers/clamav/Dockerfile'},
          {name: 'aio-onlyoffice', context: './Containers/onlyoffice', file: './Containers/onlyoffice/Dockerfile'},
          {name: 'aio-imaginary', context: './Containers/imaginary', file: './Containers/imaginary/Dockerfile'},
          {name: 'aio-talk-recording', context: './Containers/talk-recording', file: './Containers/talk-recording/Dockerfile'},
          {name: 'aio-fulltextsearch', context: './Containers/fulltextsearch', file: './Containers/fulltextsearch/Dockerfile'},
          {name: 'aio-docker-socket-proxy', context: './Containers/docker-socket-proxy', file: './Containers/docker-socket-proxy/Dockerfile'},
          {name: 'aio-whiteboard', context: './Containers/whiteboard', file: './Containers/whiteboard/Dockerfile'}
        ]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6
      - name: Login to ghcr.io
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build docker image and push to ghcr.io
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
        with:
          context: ${{ matrix.container.context }}
          file: ${{ matrix.container.file }}
          platforms: linux/arm64
          no-cache: true
          push: true
          tags: ghcr.io/nextcloud-releases/${{ matrix.container.name }}:develop-arm64
