name: Promote single container

on:
  workflow_dispatch:
    inputs:
      imageName:
        description: "Name of the container image"
        required: true
      targetTag:
        description: "Name of the target tag to publish to. Supported are beta and latest"
        required: true

jobs:
  promote_to_latest:
    runs-on: ubuntu-latest
    name: Promote ${{ github.event.inputs.imageName }} to ${{ github.event.inputs.targetTag }}
    steps:
    - name: Login to DockerHub
      uses: docker/login-action@v2 
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Promote image to Docker Hub
      run: |
        AIO_NAME=${{ github.event.inputs.imageName }}
        TARGET_TAG=${{ github.event.inputs.targetTag }}
        DATE="$(date +"%Y%m%d_%H%M%S")"
        if [ "$TARGET_TAG" != beta ] && [ "$TARGET_TAG" != latest ]; then
          echo "only beta and latest are supported as tags"
          exit 1
        fi
        if [ "$TARGET_TAG" = beta ]; then
          SOURCE_TAG=develop
        fi
        if [ "$TARGET_TAG" = latest ]; then
          SOURCE_TAG=beta
        fi
        # x64
        docker pull nextcloud/$AIO_NAME\:"$SOURCE_TAG"
        docker tag nextcloud/$AIO_NAME\:"$SOURCE_TAG" nextcloud/$AIO_NAME\:"$TARGET_TAG"
        if [ "$AIO_NAME" != "all-in-one" ] && [ "$TARGET_TAG" = latest ]; then 
          docker tag nextcloud/$AIO_NAME\:beta nextcloud/$AIO_NAME\:"$DATE"-latest
          docker push nextcloud/$AIO_NAME\:"$DATE"-latest
        fi
        if [ "$AIO_NAME" = "aio-nextcloud" ] && [ "$TARGET_TAG" = latest ]; then
          set -x
          PHP_VERSION="$(docker inspect nextcloud/aio-nextcloud:beta | grep PHP_VERSION | grep -oP '[0-8.]+' | sed 's|\.[0-9]\+$||')"
          if [ -n "$PHP_VERSION" ]; then
            docker tag nextcloud/aio-nextcloud\:beta nextcloud/aio-nextcloud\:php"$PHP_VERSION"-latest
            docker push nextcloud/aio-nextcloud\:php"$PHP_VERSION"-latest
          fi
          set +x
        fi
        docker push nextcloud/$AIO_NAME\:"$TARGET_TAG"
        if [ "$AIO_NAME" != "aio-clamav" ]; then
          # arm64 
          docker pull nextcloud/$AIO_NAME\:"$SOURCE_TAG"-arm64
          docker tag nextcloud/$AIO_NAME\:"$SOURCE_TAG"-arm64 nextcloud/$AIO_NAME\:"$TARGET_TAG"-arm64
          docker push nextcloud/$AIO_NAME\:"$TARGET_TAG"-arm64
          if [ "$AIO_NAME" = "aio-nextcloud" ] && [ "$TARGET_TAG" = latest ]; then
          set -x
          PHP_VERSION="$(docker inspect nextcloud/aio-nextcloud:beta-arm64 | grep PHP_VERSION | grep -oP '[0-8.]+' | sed 's|\.[0-9]\+$||')"
          if [ -n "$PHP_VERSION" ]; then
            docker tag nextcloud/aio-nextcloud\:beta-arm64 nextcloud/aio-nextcloud\:php"$PHP_VERSION"-latest-arm64
            docker push nextcloud/aio-nextcloud\:php"$PHP_VERSION"-latest-arm64
          fi
          set +x
        fi
        fi